@CHARSET "UTF-8";
.true span, .false span, .unknown span {
	background:url('images/trueFalse.png') no-repeat 0 0;
}
.unknown span {
	background-position:0 -64px;
}
.false span{
	background-position:0 -35px;
}
.validating.false span {
	background:url('images/loadingFalse.gif') no-repeat 0 0;
}
.validating.true span, .validating.unknown span {
    background:url('images/loadingTrue.gif') no-repeat 0 0;
}
.false {
	background-color:rgba(228, 0, 0, 0.2);
	border:1px solid #ac0302;
}
.false+.false{margin-top:-1px;}

div[class^="depth"] {
	padding:2px 5px 2px 0px;
}
div.depth_2 {
	padding-left:25px;	
}
div.depth_3 {
	padding-left:50px;	
}
div.depth_4 {
	padding-left:75px;	
}
div.depth_5 {
	padding-left:100px;	
}
div.depth_6 {
	padding-left:125px;	
}
div.depth_7 {
	padding-left:150px;	
}
div.depth_8 {
	padding-left:175px;	
}
div.depth_9 {
	padding-left:200px;	
}
div.depth_10 {
	padding-left:225px;	
}
div.depth_11 {
	padding-left:250px;	
}
div.depth_12 {
	padding-left:275px;	
}
div.depth_13 {
	padding-left:300px;	
}
div[class^="depth"] span {
	display:block;
	padding:5px 5px 5px 27px;
}
div[class^="depth"] span a {
    margin-left:15px;	
}
a.errors, a.warnings {
    background: url('images/errorWarning.png') no-repeat 0 0;
    padding: 1px 0 2px 19px;
}
a.errors {
    background-position: 0 -17px;	
}
div.errorDetails {
    background:#fff;
    padding:5px;
    border:#f6f6f6;	
}
#maincontent .details {display:none;}
div[class^="depth"]:hover {
	outline:1px solid #65d0d7;
}
#summaryTitle span {
    float:right;
    font-size:0.6em;
    margin-top:7px;
}
#progressReport, #summaryTitle, #summaryResults {display:none;}
/*

Colorbox styles

*/
#colorbox h3 {
    font-size:2.4em;
    color:#909090;
    font-weight:normal;
    letter-spacing:-1px;
    margin: 10px 0;
    text-transform:capitalize;
}
#colorbox #progressReport {display:block;}
#colorbox #progressReport ul {
    list-style:none;
    background:#FEF5D6;
    padding:0 0 10px 0;
    boder-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}
#colorbox #progressReport ul li {
    display:inline-block;
    width:183px;
    text-align:center;
    font-size:1.2em;
}
#colorbox #progressReport ul li span.number {
    display:block;
    font-size:8em;
    font-weight:bold;
    padding:55px 0px 39px 0;
}